
p{
	margin:0;
	padding:0 35px 0 0;
}
.b4{
    position:absolute;
    bottom:0;
    right:20px;
    width:180px;
}
.b1:hover{
    background: lighten(#2574a9, 15%);
}
#slider{
	width:100%;
	height:300px;
	position:relative;
	overflow:hidden;
	padding:0;
    
}
.slide{
	position:absolute;
	width:100%;
	height:100%;
	display:none;
}
.slide h4{
	display:block;
	margin-top:10px;
	margin-bottom:20px;
	color:#24272D;
}
.slide .left{
	float:left;
	width:50%;
	height:250px;
}
.slide .right{
	float:right;
	width:50%;
	padding:0 20px;
	text-align:justify;
	position:relative;
	height:250px;
}

.slide-copy{
	position:absolute;
	bottom:0;
	left:0;
	padding:10px 20px 20px 20px;
	background:#7f7f7f;
	background: rgba(0,0,0,0.5);
	width:100%;
	max-height:32%;
}

#prev, #next{
	cursor:pointer;
	z-index:5;
	background:#666;
	height:50px;
	width:50px;
	display:inline-block;
	position:relative;
	top:-180px;
	margin:0;
	padding:0;
	opacity:0.7;
	filter: alpha(opacity=70);
}

#next{
	float:right;
	right:-2px;
}

#prev{
	float:left;
	left:0;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-left: 15px solid #fff;
	position:relative;
	top:20%;
	right:-40%;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-right:15px solid #fff; 
	position:relative;
	top:20%;
	left:30%;
}

@media only screen and (max-width: 830px) {
	#slider{
		height:520px;
	}
	.slide .left, .slide .right{
		width:100%;
	}
	.slide h4{
		margin-top:20px;
	}
	.b4{
		position:absolute;
		bottom:0;
		right:20px;
	}
	#prev, #next{
		top:-330px;
	}
  }